@font-face {
  font-family: 'FuturaBookC';
  src: url('/assets/fonts/FuturaBookC.ttf') format('truetype');
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 209, 209);
  font-family: 'FuturaBookC';
}

.wrapper {
  max-width: 1024px;
  margin: 20px auto;
  background-color: rgb(156, 153, 153);
}

.header {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 2px solid #000000;
  border-bottom: 3px solid #000000;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-avatar {
  width: 200px;
  height: 250px;
  border: 3px solid #000000;
}

.header-wrapper {
  margin: 0 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .head-wrapper {
    margin: 30px 0 0 0;
  }
}

.header-name {
  font-size: 48px;
  font-weight: bold;
}

.header-list {
  font-size: 30px;
  line-height: 36px;
  list-style: none;
  display: flex;
  margin: 60px 0 0 0;
}

.github {
  content: url(/assets/github.png);
}

.facebook {
  content: url(/assets/fb.png);
  width: 24px;
  height: 24px;
}

.skype {
  content: url(/assets/skype.png);
}

.telegram {
  content: url(/assets/telegram.png);
}

.discord {
  content: url(/assets/discord.png);
}

.header-list li a {
  color: #000;
  text-decoration: none;
  width: 45px;
  height: 45px;
  margin: 15px;
}

.header-list li a:hover,
.header-list li a:active {
  text-decoration: underline;
  transform: rotate(360deg);
  transition-duration: 0.8s;
}

.education-btn {
  position: relative;
  background-color: rgb(156, 153, 153);
  color: #000000;
  cursor: pointer;
  padding: 18px 40px;
  width: 100%;
  font-size: 36px;
  text-align: left;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.education-btn::after {
  content: "\25BC";
  position: absolute;
  right: 40px;
}

.active::after {
  content: "\25B2";
}

.active, .education-btn:hover {
  background-color: rgb(156, 153, 153);
}

.panel {
  padding: 0;
  background-color: rgb(156, 153, 153);
  display: none;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education_list {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 28px;
  list-style: none;
}

.education_list li {
  margin: 0;
  padding: 20px 40px;
}

.education_list li span {
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
}

.education_list li:nth-child(2n) {
  background-color: rgb(156, 153, 153);
}

.proj-title {
  padding: 18px 40px;
  background-color: rgb(156, 153, 153);
  color: #000000;
  font-size: 36px;
  text-align: left;
  border-top: 1.5px solid #000000;
  border-bottom: 3px solid #000000;
  font-family: 'FuturaBookC';
}

.slider_wrap {
  position: relative;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proj-slider {
  width: 84%;
  display: none;
}

@media screen and (max-width: 768px) {
  .proj-slider {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.proj-slider-descr {
  width: 30%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .proj-slider-descr {
    width: 100%;
  }
}

.proj-slider-descr_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.sw_button {
  display: inline-block;
  padding: 5px 10px;
  height: 90%;
  border: 2px solid #444;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .sw_button {
    display: none;
  }
}

.proj-slider-descr_text {
  padding-left: 50px;
  font-size: 20px;
  font-family: 'FuturaBookC';

}

@media screen and (max-width: 768px) {
  .proj-slider-descr_text {
    display: none;
  }
}

.proj-slider-descr_mob {
  padding-left: 10px;
  font-size: 16px;
  display: none;
}

@media screen and (min-width: 769px) {
  .proj-slider-descr_mob {
    display: none;
  }
}

.descr_show {
  display: block;
}

.proj-slider-descr-tap {
  border: 2px solid #000000;
  margin: 10px;
  padding: 10px 10px 10px 35px;
}

.proj-slider_btn {
  width: 70%;
  height: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.proj-slider_btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .proj-slider_btn {
    width: 100%;
  }
}

.proj-slider img {
  width: 100%;
  margin-left: 8px;
  margin-bottom: -3px;
}

.proj-prev,
.proj-next {
  position: absolute;
  top: 0;
  height: 100%;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #444;
  font-size: 36px;
  background-color: rgb(141, 138, 138);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .proj-prev,
  .proj-next {
    display: none;
  }
}

.proj-prev {
  left: 0;
}

.proj-next {
  right: 0;
}

.proj-prev:hover, .proj-next:hover {
  background-color: rgb(156, 153, 153);
}

.proj-slider-text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.footer {
  padding: 18px 40px;
  font-size: 24px;
  border-top: 3px solid #000000;
}

.iframe-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #f7f7f7;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iframe {
  width: 100%;
  min-height: 100%;
}

.iframe-button {
  position: fixed;
  width: 120px;
  height: 60px;
  right: 60px;
  font-size: 24px;
  font-weight: bold;
  border: 3px solid #000000;
  background-color: #ccc;
  border-radius: 35%;
  cursor: pointer;
}

.iframe-button:hover {
  opacity: 0.7;
}

#back-button {
  bottom: 60px;
}

#mode-button {
  bottom: 160px;
}

@media screen and (max-width: 768px) {
  #mode-button {
    display: none;
  }
}